<section class="profile-edit">
  <h2>Edit profile</h2>
  <ul class="profile-edit__breadcrumbs">
    <li class="profile-edit__breadcrumbs-element"><a href="#/dashboard">Home</a><span class="profile-edit__breadcrumbs-slash">/</span></li>
    <li class="profile-edit__breadcrumbs-element"><a href="#/profile">{{name}}</a><span class="profile-edit__breadcrumbs-slash">/</span></li>
    <li class="profile-edit__breadcrumbs-element"><a href="#/profile">Profile</a><span class="profile-edit__breadcrumbs-slash">/</span></li>
    <li class="profile-edit__breadcrumbs-element"><a href="#/profile/edit">Edit</a></li>
  </ul>
  <hr>
  <div class="profile-edit__wrapper">
    <div class="profile-edit__input-wrapper">
      <i class="profile-edit__icon glyphicon glyphicon-user"></i>
      <input type="text" class="profile-edit__input form-control" ng-model="name" placeholder="Username" />
    </div>
    <div class="profile-edit__input-wrapper">
      <i class="profile-edit__icon glyphicon glyphicon-user"></i>
      <input type="date" class="profile-edit__input form-control" ng-model="birthday" placeholder="Birthday" />
    </div>
    <div class="profile-edit__input-wrapper">
      <i class=" glyphicon glyphicon-user profile-edit__icon"></i>
      <input type="text" class="profile-edit__input form-control" ng-model="city" placeholder="City" />
    </div>

    <div ng-if="appProfileEditCtrl.successMessage" class="profile-edit__success-message alert alert-success">
      <strong>Success!</strong> Changes saved.
    </div>

    <div ng-if="appProfileEditCtrl.errorMessage" class="profile-edit__error-message alert alert-danger">
      <strong>Error!</strong> Please, fill in the fields.
    </div>

    <input type="button" ng-click="appProfileEditCtrl.saveUserInfo()" class="profile-edit__btn btn btn-success btn-md" value="Save">
  </div>
</section>