.profile-edit {
    &__wrapper {
        width: 300px;
    }
    &__breadcrumbs {
        list-style: none;
        padding: 10px 0 10px 15px;
        background-color: #f6f6f6;
        border-radius: 4px;
        width: 460px;
        &-element {
            display: inline-block;
        }
        &-slash {
            margin: 0 20px;
            color: #e7e7e7;
        }
    }
    &__input-wrapper {
        position: relative;
    }
    &__btn {
        float: right;
    }
}

.profile-edit__input-wrapper i {
    position: absolute;
    left: 1px;
    padding: 9px 12px;
    pointer-events: none;
    background-color: #f6f6f6;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.profile-edit__input-wrapper input {
    padding-left: 45px;
    margin-bottom: 10px;
}