<div class="dashboard table-responsive">
  <h2>Dashboard</h2>
  <ul class="profile-edit__breadcrumbs">
    <li class="profile-edit__breadcrumbs-element"><a href="#/dashboard">Home</a><span class="profile-edit__breadcrumbs-slash">/</span></li>
    <li class="profile-edit__breadcrumbs-element"><a href="#/dashboard">Users list</a></li>
  </ul>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Birthday</th>
        <th>City</th>
        <th>Active</th>
        <th>Boss</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in appDashboardCtrl.usersList">
        <td>{{$index + 1}}</td>
        <td class="userName">{{user.name}}</td>
        <td>{{user.birthday | date }}</td>
        <td>{{user.city}}</td>
        <td><input type="checkbox" ng-checked="{{user.activeStatus}}" ng-click="appDashboardCtrl.saveUserState($event)"></td>
        <td><input type="radio" ng-checked="{{user.bossStatus}}" ng-click="appDashboardCtrl.saveUserRadioState($event)" name="radioBossStatus"> </td>
      </tr>
    </tbody>
  </table>
</div>