.dashboard {
    &__breadcrumbs {
        list-style: none;
        padding: 10px 0 10px 15px;
        background-color: #f6f6f6;
        border-radius: 4px;
        width: 460px;
        &-element {
            display: inline-block;
        }
        &-slash {
            margin: 0 20px;
            color: #e7e7e7;
        }
    }
}