.profile {
    &__table-wrapper {
        width: 180px;
    }
    &__table-element-content,
    &__table-element-title {
        border: none !important;
    }
    &__table-element-title {
        text-align: right;
    }
    &__table-element-content {
        font-weight: bold;
    }
    &__breadcrumbs {
        list-style: none;
        padding: 10px 0 10px 15px;
        background-color: #f6f6f6;
        border-radius: 4px;
        width: 460px;
        &-element {
            display: inline-block;
        }
        &-slash {
            margin: 0 20px;
            color: #e7e7e7;
        }
    }
    &__btn {
        float: right;
    }
}