<section class="profile">
  <h2>Profile</h2>
  <ul class="profile-edit__breadcrumbs">
    <li class="profile-edit__breadcrumbs-element"><a href="#/dashboard">Home</a><span class="profile-edit__breadcrumbs-slash">/</span></li>
    <li class="profile-edit__breadcrumbs-element"><a href="#/profile">{{appProfileCtrl.userLogin}}</a><span class="profile-edit__breadcrumbs-slash">/</span></li>
    <li class="profile-edit__breadcrumbs-element"><a href="#/profile">Profile</a></li>
  </ul>
  <hr>
  <div class="profile__table-wrapper">
    <table class="table">
      <tbody>
        <tr>
          <td class="profile__table-element-title">Name:</td>
          <td class="profile__table-element-content">{{appProfileCtrl.userLogin}}</td>
        </tr>
        <tr>
          <td class="profile__table-element-title">Birthday:</td>
          <td class="profile__table-element-content">{{appProfileCtrl.userBirthday | date }}</td>
        </tr>
        <tr>
          <td class="profile__table-element-title">City:</td>
          <td class="profile__table-element-content">{{appProfileCtrl.userCity}}</td>
        </tr>
      </tbody>
    </table>
    <a class="profile__btn btn btn-primary btn-md" href="#/profile/edit">Edit</a>
  </div>
</section>