<section class="menu">
  <ul class="nav nav-pills nav-stacked">
    <li class="menu__element" ng-class="'dashboard' === appMenuCtrl.locationState ? 'active' : ''"><a href="#/dashboard">Home</a></li>
    <li class="menu__element" ng-class="'profile' === appMenuCtrl.locationState ? 'active' : ''"><a href="#/profile">Profile</a></li>
    <li class="menu__element" ng-class="'logout' === appMenuCtrl.locationState ? 'active': '' "><a href="#/logout">Logout</a></li>
  </ul>
</section>